.home-page-button-container {
    margin-top: 5px;
    margin-left: 5px;
}

.home-page-button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.home-page-button:hover {
    background-color: #0056b3;
}

.detailed-view-image,
.detailed-view-placeholder-image {
    width: 600px;
}

@media(max-width: 480px) {
    h2 {
        font-size: 22px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .detailed-view-image,
    .detailed-view-placeholder-image {
        width: 400px;
    }

    .content {
        margin-left: 5px;
        margin-right: 5px;
    }
}